.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  max-width: 375px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 48px;
}

.main header {
  text-align: center;
}

.title {
  font-family: var(--red-hat-font);
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #28283D;
  margin-bottom: 24px;
}

.heroContent {
  margin-top: 240px;
}

.heroContent p {
  font-family: var(--red-hat-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #87879D;
  margin-bottom: 32px;
}

.button {
  outline: 0;
  border: 0;
  font-family: var(--red-hat-font);
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 29px;
  border-radius: 29px;
  cursor: pointer;
}

.buttonA {
  background: #4D96A9;
  color: white;
}

.buttonA span {
  color: #8FE3F9;
}

.buttonA:hover {
  background: #71C0D4;
}

.buttonB {
  background: #855FB1;
  color: #FFFFFF;
}

.buttonB span {
  color: rgba(217, 184, 255, 1)
  ;
}

.buttonB:hover {
  background: #B18BDD;
}

.imgContainer{
  white-space: nowrap;
}

.hero {
  position: relative;
}

.hero > img {
  height: 153px;
  position: absolute;
  top: -190px;
}

.hero > img:nth-child(1) {
  left: -20px;
}
.hero > img:nth-child(2) {
  right: -20px;
}

.ctaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.moreText {
  margin-top: 64px;
  text-align: center;
  font-family: var(--red-hat-font);
}

.moreText > div {
  letter-spacing: 4px;
  text-transform: uppercase;
  
  color: #4D96A9;
  
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
}

.moreText > h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #28283D;
  margin-top: 24px;
}

.moreText > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #87879D;
  margin-top: 32px;
}

.footer {
  margin-top: -28px;
  background-blend-mode: multiply;
  padding-top: 92px;
  padding-bottom: 72px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-family: var(--red-hat-font);
  background: url('/assets/mobile/image-footer.jpg'), #0e98bbbf;
  background-size: cover;
}

.footer > h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FAFAFA;
}

.footer > p {
  margin-top: 24px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FAFAFA;
}

