.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  max-width: 375px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 48px;
  
}

.main header {
  text-align: center;
}

.title {
  padding: 0 50px;
  font-family: var(--red-hat-font);
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #28283D;
  margin-bottom: 24px;
}

.heroContent p {
  padding: 0 50px;
  font-family: var(--red-hat-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #87879D;
  margin-bottom: 32px;
}

.button {
  outline: 0;
  border: 0;
  font-family: var(--red-hat-font);
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 29px;
  border-radius: 29px;
  cursor: pointer;
}

.buttonA {
  background: #4D96A9;
  color: white;
}

.buttonA span {
  color: #8FE3F9;
}

.buttonA:hover {
  background: #71C0D4;
}

.buttonB {
  background: #855FB1;
  color: #FFFFFF;
}

.buttonB span {
  color: rgba(217, 184, 255, 1)
  ;
}

.buttonB:hover {
  background: #B18BDD;
}

.imgContainer{
  display: flex;
  height: 153px;
  gap: 32px;
  margin-top: 54px;
  margin-bottom: 48px;
}

.hero {
  position: relative;
}

.hero > img {
  height: 153px;
  width: auto;
}

.ctaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.moreText {
  margin-top: 64px;
  text-align: center;
  font-family: var(--red-hat-font);
}

.moreText > div {
  letter-spacing: 4px;
  text-transform: uppercase;
  
  color: #4D96A9;
  
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
}

.moreText > h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #28283D;
  margin-top: 24px;
  padding: 0 24px;
}

.moreText > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #87879D;
  margin-top: 32px;
}

.footer {
  position: relative;
  margin-top: -28px;
  background-blend-mode: multiply;
  padding-top: 92px;
  padding-bottom: 72px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-family: var(--red-hat-font);
  background: url('/assets/mobile/image-footer.jpg'), #0e98bbbf;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer > h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FAFAFA;
}

.footer > p {
  margin-top: 24px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FAFAFA;
}

.footer > div {
  background: rgba(0, 0, 0, 0.4);
  padding-top: 92px;
  padding-bottom: 72px;
  padding-left: 24px;
  padding-right: 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 768px;
  }

  .imgContainer {
    height: 303px;
  }

  .title {
    padding: 0 250px;
  }

  .heroContent p {
    padding: 0 200px;
  }
  
  .ctaContainer {
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    background: url('/assets/tablet/image-footer.jpg'), #0e98bbbf;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .moreText > h2 {
    font-size: 40px;
    line-height: 44px;
    padding: 0 170px;
  }

  .moreText > p {
    padding: 0 90px;
  }
}

.desktopImage {
  display: none;
}

@media screen and (min-width: 1440px) {
  .main {
    max-width: 100%;
  }

  .imgContainer {
    display: none;
  }

  .desktopImage {
    display: block;
    height: 228px !important;
  }

  .hero {
    display: flex;
    flex-direction: row;
    margin-top: 61px;
  }

  .heroContent  {
    width: 540px;
  }

  .title {
    padding: 0 100px;
  }

  .heroContent p {
    padding: 0 30px;
  }

  .footer {
    width: 100%;
    background:  url('/assets/desktop/image-footer.jpg'), #0e98bbbf;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .moreText > h2 {  
    padding: 0 740px;
  }

  .moreText > p {  
    padding: 0 700px;
  }

}